<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620933646315-oii08603190ci4btnf9pf78776pda5qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620933646315-oii08603190ci4btnf9pf78776pda5qk</string>
	<key>API_KEY</key>
	<string>AIzaSyDCs4S22NDT2vrLYY4zo6YG50FWeaIAvIo</string>
	<key>GCM_SENDER_ID</key>
	<string>620933646315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appIt</string>
	<key>PROJECT_ID</key>
	<string>bigdata-aplikasiitc</string>
	<key>STORAGE_BUCKET</key>
	<string>bigdata-aplikasiitc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620933646315:ios:06102882c1c2e0888cfbae</string>
	<key>DATABASE_URL</key>
	<string>https://bigdata-aplikasiitc-default-rtdb.firebaseio.com</string>
</dict>
</plist>